<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name short="NCF_Hymnal">NCF_Hymnal</name>

  <description>
        NIGERIAN ARMY SCHOOL OF MEDICAL SCIENCES,
	CHRISTIAN FELLOWSHIP (N.C.F) HYMN APP
  </description>

  <content src="index.html"></content>

  <feature name="debug-server" required="false"></feature>

  <platform name="android">
	<preference name="debuggable" value="false"/>
  </platform> 

</widget>